# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Goland settings
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.prof
coverage.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Logs
*.log

# Database dumps
*.sql
*.sqlite
*.db

# Editors and IDEs temporary files
*~
*.swp
*.swo
*.tmp

# Docker settings
docker-compose.override.yml